.button-add {
  width: 170px;
  border-radius: 0 10px 10px 0;
}
.button-delete {
  border-radius: 0 10px 10px 0;
}
.button-edit {
  border-radius: 10px 0 0 10px;
}
.button-update {
  border-radius: 0 0 0 0;
}
.button-cancel {
  border-radius: 0 10px 10px 0;
}
.button-sorting {
  width: 170px;
  border-radius: 10px 0 0 10px;
}

.button-back {
  border-radius: 10px 0 0 10px;
}
